<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RPI-edge Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://prismjs.com/themes/prism.css">
    <link rel="stylesheet" href="https://prismjs.com/plugins/line-numbers/prism-line-numbers.css">
    <link rel="stylesheet" href="../static/css/prism-live.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<script>
    window.onload = check_auth();

    function check_auth() {
        if (sessionStorage.getItem("auth") !== "true") {
          //  window.location.href = 'login';
        } else {
            setInterval(get_data, 1000);
        }
    }
    async function get_data() {

        let response = await fetch("/get_data");
        if (response.ok) { // если HTTP-статус в диапазоне 200-299
            let json = await response.json();
            var nform = Intl.NumberFormat('ru-Ru', {minimumSignificantDigits: 2})
            console.log(JSON);
            //0
            //CPU %
            var cpu = document.getElementById('cpu-usage0');
            var cpubar = document.getElementById('cpu-usage-bar0');
            var cpu_usage = json["cpu_usage0"]; //Math.floor(Math.random() * 100);
            ////console.log(json["cpu"]);
            cpu.textContent = cpu_usage.toString() + '%';
            cpubar.setAttribute("style", "width: " + cpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-u0');
            var color;
            if (cpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * cpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (cpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //CPU Temp
            var cpu_t = document.getElementById('cpu-temp0');
            var cpu_temp = json["cpu_temp0"]; //Math.floor(Math.random() * 100);
            cpu_t.textContent = cpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-t0');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * cpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                ////console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (cpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());


            //GPU %
            var gpu = document.getElementById('mem-usage0');
            var gpubar = document.getElementById('gpu-usage-bar0');
            var gpu_usage = json["mem_usage0"];//Math.floor(Math.random() * 100);
            gpu.textContent = gpu_usage.toString() + '%';
            gpubar.setAttribute("style", "width: " + gpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-mu0');
            var color;
            if (gpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * gpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (gpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //GPU Temp
            var gpu_t = document.getElementById('gpu-temp0');
            var gpu_temp = json["gpu_temp0"]//Math.floor(Math.random() * 100);
            gpu_t.textContent = gpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-tg0');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * gpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                // //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (gpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());



            //1
            //CPU %
            var cpu = document.getElementById('cpu-usage1');
            var cpubar = document.getElementById('cpu-usage-bar1');
            var cpu_usage = json["cpu_usage1"]; //Math.floor(Math.random() * 100);
            //console.log(json["cpu"]);
            cpu.textContent = cpu_usage.toString() + '%';
            cpubar.setAttribute("style", "width: " + cpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-u1');
            var color;
            if (cpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * cpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (cpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //CPU Temp
            var cpu_t = document.getElementById('cpu-temp1');
            var cpu_temp = json["cpu_temp0"]; //Math.floor(Math.random() * 100);
            cpu_t.textContent = cpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-t1');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * cpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                ////console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (cpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());


            //GPU %
            var gpu = document.getElementById('mem-usage1');
            var gpubar = document.getElementById('gpu-usage-bar1');
            var gpu_usage = json["mem_usage0"];//Math.floor(Math.random() * 100);
            gpu.textContent = gpu_usage.toString() + '%';
            gpubar.setAttribute("style", "width: " + gpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-mu1');
            var color;
            if (gpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * gpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (gpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //GPU Temp
            var gpu_t = document.getElementById('gpu-temp1');
            var gpu_temp = json["gpu_temp0"]//Math.floor(Math.random() * 100);
            gpu_t.textContent = gpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-tg1');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * gpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                // //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (gpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());


            //2
            //CPU %
            var cpu = document.getElementById('cpu-usage2');
            var cpubar = document.getElementById('cpu-usage-bar2');
            var cpu_usage = json["cpu_usage2"]; //Math.floor(Math.random() * 100);
            //console.log(json["cpu"]);
            cpu.textContent = cpu_usage.toString() + '%';
            cpubar.setAttribute("style", "width: " + cpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-u2');
            var color;
            if (cpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * cpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (cpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //CPU Temp
            var cpu_t = document.getElementById('cpu-temp2');
            var cpu_temp = json["cpu_temp0"]; //Math.floor(Math.random() * 100);
            cpu_t.textContent = cpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-t2');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * cpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                ////console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (cpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());


            //GPU %
            var gpu = document.getElementById('mem-usage2');
            var gpubar = document.getElementById('gpu-usage-bar2');
            var gpu_usage = json["mem_usage2"];//Math.floor(Math.random() * 100);
            gpu.textContent = gpu_usage.toString() + '%';
            gpubar.setAttribute("style", "width: " + gpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-mu2');
            var color;
            if (gpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * gpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (gpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //GPU Temp
            var gpu_t = document.getElementById('gpu-temp2');
            var gpu_temp = json["gpu_temp2"]//Math.floor(Math.random() * 100);
            gpu_t.textContent = gpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-tg2');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * gpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                // //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (gpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());


            //3
            //CPU %
            var cpu = document.getElementById('cpu-usage3');
            var cpubar = document.getElementById('cpu-usage-bar3');
            var cpu_usage = json["cpu_usage3"]; //Math.floor(Math.random() * 100);
            //console.log(json["cpu"]);
            cpu.textContent = cpu_usage.toString() + '%';
            cpubar.setAttribute("style", "width: " + cpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-u3');
            var color;
            if (cpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * cpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (cpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //CPU Temp
            var cpu_t = document.getElementById('cpu-temp3');
            var cpu_temp = json["cpu_temp3"]; //Math.floor(Math.random() * 100);
            cpu_t.textContent = cpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-t3');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * cpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                ////console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (cpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());


            //GPU %
            var gpu = document.getElementById('mem-usage3');
            var gpubar = document.getElementById('gpu-usage-bar3');
            var gpu_usage = json["mem_usage3"];//Math.floor(Math.random() * 100);
            gpu.textContent = gpu_usage.toString() + '%';
            gpubar.setAttribute("style", "width: " + gpu_usage.toString() + '%');
            //цвет иконки
            var icon = document.getElementById('icon-mu0');
            var color;
            if (gpu_usage < 50) {
                color = "rgb(" + Math.floor(255 / 50.0 * gpu_usage).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 50.0 * (gpu_usage - 50)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                //console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

            //GPU Temp
            var gpu_t = document.getElementById('gpu-temp3');
            var gpu_temp = json["gpu_temp3"]//Math.floor(Math.random() * 100);
            gpu_t.textContent = gpu_temp.toString() + " ℃";
            //цвет иконки
            var icon = document.getElementById('icon-tg3');
            var color;
            if (cpu_temp < 64) {
                color = "rgb(" + Math.floor(255 / 63.0 * gpu_temp).toString() + ",255" + ",0)"//..Color(cpu_temp / 63, 255, 0);
                // //console.log(color);
            } else {
                color = "rgb(255," + Math.floor(255 - 255 / 63.0 * (gpu_temp - 63)).toString() + ",0)"// // color = Color(1.0, 1.0 / 63.0 * (cpu_temp - 63), 0);
                ////console.log(color);

            }
            icon.setAttribute("style", "color: " + color.toString());

        } else {
            // alert("Ошибка HTTP: " + response.status);
        }
    }
</script>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-fan"></i>
            </div>
            <div class="sidebar-brand-text mx-3">RPI-Edge Admin<sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="controls">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Controls</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                        <img class="img-profile rounded-circle"
                             src="../static/img/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>


                <div class="text-xl-left font-weight-bold text-gray-900 text-uppercase mb-1">
                    RPi-0
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- CPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CPU Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="cpu-usage0" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="cpu-usage-bar0" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-u0" class="fas fa-solid fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            CPU Temp
                                        </div>
                                        <div id="cpu-temp0" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">-273
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-t0"
                                           class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MEM Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Memory
                                            Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="mem-usage0" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="gpu-usage-bar0" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-mu0" class="fas fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            GPU Temp
                                        </div>
                                        <div id="gpu-temp0" class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-tg0" class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-xl-left font-weight-bold text-gray-900 text-uppercase mb-1">
                    RPi-1
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- CPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CPU Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="cpu-usage1" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="cpu-usage-bar1" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-u1" class="fas fa-solid fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            CPU Temp
                                        </div>
                                        <div id="cpu-temp1" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">-273
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-t1"
                                           class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Memory
                                            Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="gpu-usage1" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="gpu-usage-bar1" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-mu1" class="fas fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            GPU Temp
                                        </div>
                                        <div id="gpu-temp1" class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-tg1" class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-xl-left font-weight-bold text-gray-900 text-uppercase mb-1">
                    RPi-2
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- CPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CPU Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="cpu-usage2" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="cpu-usage-bar2" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-u2" class="fas fa-solid fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            CPU Temp
                                        </div>
                                        <div id="cpu-temp2" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">-273
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-t2"
                                           class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Memory
                                            Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="gpu-usage2" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="gpu-usage-bar2" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-mu2" class="fas fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            GPU Temp
                                        </div>
                                        <div id="gpu-temp2" class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-tg2" class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-xl-left font-weight-bold text-gray-900 text-uppercase mb-1">
                    RPi-3
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- CPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CPU Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="cpu-usage3" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="cpu-usage-bar3" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-u3" class="fas fa-solid fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            CPU Temp
                                        </div>
                                        <div id="cpu-temp3" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">-273
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-t3"
                                           class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Usage -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Memory
                                            Usage
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div id="gpu-usage3" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    50%
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div id="gpu-usage-bar3" class="progress-bar bg-info"
                                                         role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-mu3" class="fas fa-bolt fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GPU Temp -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            GPU Temp
                                        </div>
                                        <div id="gpu-temp3" class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i id="icon-tg3" class="fas fa-solid fa-2x fa-temperature-high"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Iotsource 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>


</body>

</html>